<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Удалить документ</title>
</head>
<body>
    <h1>Вы действительно хотите удалить этот документ?</h1>
    <form action="/delete/{{ document_id }}" method="post">
        <input type="submit" value="Да">
    </form>
    <a href="/">Отмена</a>
</body>
</html>
