<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Загрузить документ</title>
</head>
<body>
    <h1>Загрузить документ</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        {% if error %}
            <strong>{{ error }}</strong>
        {% endif %}
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="file">Файл:</label>
        <input type="file" id="file" name="file" required><br><br>
        <input type="submit" value="Загрузить">
    </form>
</body>
</html>

